<h1>
  Nuevo Héroe <small *ngIf="hero.superhero">"{{ hero.superhero }}"</small>
</h1>

<section fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
  <article fxFlex="50" fxLayout="column">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20" fxFlex="100">
      <!-- Superhero -->
      <mat-form-field fxFlex="50">
        <mat-label>Super Héroe</mat-label>
        <input type="text" matInput required [(ngModel)]="hero.superhero" />
      </mat-form-field>
      <!-- Alter ego -->
      <mat-form-field fxFlex="50">
        <mat-label>Alter Ego</mat-label>
        <input type="text" matInput required [(ngModel)]="hero.alter_ego" />
      </mat-form-field>
    </div>
    <!-- First appearance -->
    <mat-form-field fxFlex="100">
      <mat-label>Primera Aparición</mat-label>
      <input
        type="text"
        matInput
        required
        [(ngModel)]="hero.first_appearance"
      />
    </mat-form-field>
    <!-- Characters -->
    <mat-form-field fxFlex="100">
      <mat-label>Personajes</mat-label>
      <input type="text" matInput required [(ngModel)]="hero.characters" />
    </mat-form-field>
    <!-- Attemp with Angular Material Radio Button -->
    <!-- <div>
      <label>Creador: </label>
      <mat-radio-group aria-label="Creador">
        <mat-radio-button value="DC Comics">DC Comics</mat-radio-button>
        <mat-radio-button value="Marvel Comics">Marvel Comics</mat-radio-button>
      </mat-radio-group>
    </div> -->
    <!-- Creator -->
    <mat-form-field fxFlex="100">
      <mat-label>Creador</mat-label>
      <mat-select required [(ngModel)]="hero.publisher">
        <mat-option *ngFor="let publisher of publisherList" [value]="publisher">
          {{ publisher }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Photo URL -->
    <mat-form-field fxFlex="100">
      <mat-label>Imagén del personaje (URL)</mat-label>
      <input type="url" matInput required [(ngModel)]="hero.alt_img" />
    </mat-form-field>
    <!-- Save/Edit Button -->
    <button mat-raised-button (click)="addHero()">
      <mat-icon>{{ hero.superhero ? "edit" : "add_circle" }}</mat-icon>
      <span>{{ hero.superhero ? "Editar" : "Guardar" }}</span>
    </button>
  </article>
  <article fxFlex="50">
    <!-- TODO: Bind property -->
    <img [src]="hero | heroImage" [alt]="hero.superhero" />
  </article>
</section>
